
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kunzad - Transport Management System</title>
</head>
<body ng-app="KunzadLandingPage" ng-controller="MainController">
    <div ng-view></div>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-touch.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/localforage.min.js"></script>
    <script src="~/Scripts/angular-localForage.js"></script>
    <script src="~/Scripts/app/landingpage-ctrl.js"></script>
</body>
</html>
