@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Denied</title>
</head>
<body>
    <h1>Permission Denied</h1>
    Click <a href="~/#/profile">here</a> to go back.
</body>
</html>
