
<div class="dropdown position-fixed" id="DataTableCityMunicipality">
    <ul class="dropdown-menu" role="menu">
        <li>
            <a class="pointer small" role="menuitem" tabindex="0" ng-click="loadData(currentPage)">Reload </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="pointer small" role="menuitem" tabindex="1" ng-click="openCityMunicipalityForm('Create')">Create </a>
        </li>
        <li>
            <a class="pointer small" role="menuitem" tabindex="2" ng-click="openCityMunicipalityForm('Edit')">Edit </a>
        </li>
        <li>
            <a class="pointer small" role="menuitem" tabindex="3" ng-click="openCityMunicipalityForm('Delete')">Delete</a>
        </li>
        <li>
            <a class="pointer small" role="menuitem" tabindex="4" ng-click="openCityMunicipalityForm('View')">View </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="pointer small" role="menuitem" tabindex="5" ng-click="openCityMunicipalityForm('Export')">Export </a>
        </li>
    </ul>
</div>


