 
<div ng-show="showMenu">
    <div class="dropdown position-fixed" id="DTCustGeneral">
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="pointer small" role="menuitem" tabindex="0" ng-click="loadData(currentPage)">Reload </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="pointer small" role="menuitem" tabindex="1" ng-click="actionForm('Create')">Create </a>
            </li>
            <li>
                <a class="pointer small" role="menuitem" tabindex="2" ng-click="actionForm('Edit')">Edit </a>
            </li>
            <li>
                <a class="pointer small" role="menuitem" tabindex="3" ng-click="actionForm('Delete')">Delete</a>
            </li>
            <li>
                <a class="pointer small" role="menuitem" tabindex="4" ng-click="actionForm('View')">View </a>
            </li>
        </ul>
    </div>
</div>
<!--for address-->
<div ng-show="showMenuAddress">
    <div class="dropdown position-fixed" id="DTCustAdresss">
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="pointer small" role="menuitem" tabindex="0" ng-click="loadData(currentPage)">Reload </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="pointer small" role="menuitem" tabindex="1" ng-click="actionFormAddress('Create')">Create </a>
            </li>
            <li>
                <a class="pointer small" role="menuitem" tabindex="2" ng-click="actionFormAddress('Edit')">Edit </a>
            </li>
            <li>
                <a class="pointer small" role="menuitem" tabindex="3" ng-click="actionFormAddress('Delete')">Delete</a>
            </li>
            <li>
                <a class="pointer small" role="menuitem" tabindex="4" ng-click="actionFormAddress('View')">View </a>
            </li>
        </ul>
    </div>
</div>
<!-- for 
    
     contact-->
<div ng-show="showMenuContact">
    <div class="dropdown position-fixed" id="DTCustContact">
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="pointer small" role="menuitem" tabindex="0" ng-click="loadData(currentPage)">Reload </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="pointer small" role="menuitem" tabindex="1" ng-click="actionFormContact('Create')">Create </a>
            </li>
            <li>
                <a class="pointer small" role="menuitem" tabindex="2" ng-click="actionFormContact('Edit')">Edit </a>
            </li>
            <li>
                <a class="pointer small" role="menuitem" tabindex="3" ng-click="actionFormContact('Delete')">Delete</a>
            </li>
            <li>
                <a class="pointer small" role="menuitem" tabindex="4" ng-click="actionFormContact('View')">View </a>
            </li>
        </ul>
    </div>
</div>

