
<div class="dropdown position-fixed" id="DataTableVessel">
    <ul class="dropdown-menu" role="menu">
        <li>
            <a class="pointer small" role="menuitem" tabindex="0" ng-click="loadData(currentPage)">Reload </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="pointer small" role="menuitem" tabindex="1" ng-click="openVesselForm('showVoyage')">Voyages </a>
        </li>
        <li>
            <a class="pointer small" role="menuitem" tabindex="2" ng-click="openVesselForm('Create')">Create </a>
        </li>
        <li>
            <a class="pointer small" role="menuitem" tabindex="3" ng-click="openVesselForm('Edit')">Edit </a>
        </li>
        <li>
            <a class="pointer small" role="menuitem" tabindex="4" ng-click="openVesselForm('Delete')">Delete</a>
        </li>
        <li>
            <a class="pointer small" role="menuitem" tabindex="5" ng-click="openVesselForm('View')">View </a>
        </li>
    </ul>
</div>


