
<div class="dropdown position-fixed" id="DataTableMenu">
    <ul class="dropdown-menu" role="menu">
        <li>
            <a class="pointer small" role="menuitem" tabindex="0" ng-click="loadData(currentPage)">Reload </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="pointer small" role="menuitem" tabindex="1" ng-click="actionForm('Create')">Create </a>
        </li>
        <li>
            <a class="pointer small" role="menuitem" tabindex="2" ng-click="actionForm('Edit')">Edit </a>
        </li>
        <li>
            <a class="pointer small" role="menuitem" tabindex="3" ng-click="actionForm('Delete')">Delete</a>
        </li>
        <li>
            <a class="pointer small" role="menuitem" tabindex="4" ng-click="actionForm('View')">View </a>
        </li>

    </ul>
</div>
