@{
    Layout = "~/Views/Shared/_TransactionLayout.cshtml";
}

<!-- General -->
@section tab1Content{
    @*Column 1*@
    <div context-menu="" data-target="FormMenu">

        <form class="form-horizontal" role="form">
            <div class="alert alert-danger alert-sm" ng-show="isError">
                <i class="fa fa-remove pr10"></i>
                <strong>ERROR!</strong>{{errorMessage}}
            </div>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border control-label small">Air Freight Info</legend>
                <div class="col-md-12">
                    <div class="form-group form-group-sm">
                        <label class="col-md-2 control-label small">Transaction No</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="System Generated"
                                   ng-model="airFreightItem.Id"
                                   ng-disabled="true" />
                        </div>

                        <label class="col-md-4 control-label small">Airline</label>
                        <div class="col-md-4">
                            <div class='input-group'>
                                <input type='text'
                                       class="form-control"
                                       ng-model="airFreightItem.AirLine.Name"
                                       ng-disabled="true" />
                                <span class="input-group-addon" style="padding:2px 0; color: #4a89dc ; cursor: pointer;" title="Search Airline" ng-click="showAirline()">
                                    <span class="glyphicons glyphicons-search"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-md-2 control-label small">Waybill No</label>
                        <div class="col-md-2">
                            <input type='text'
                                   class="form-control"
                                   ng-model="airFreightItem.AirWaybillNumber"
                                   ng-disabled="viewOnly" />
                        </div>
                        <label class="col-md-4 control-label small">Waybill Date</label>
                        <div class="col-md-2">
                            <div class='input-group date'>
                                <input type='text'
                                       id='airWaybillDate'
                                       class="form-control"
                                       ng-model="airFreightItem.AirWaybillDate"
                                       ng-disabled="viewOnly" />
                                <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                    <span class=" glyphicon glyphicon-remove-circle"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label class="col-md-2 control-label">Origin</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input id="BusinessUnit"
                                       type="text"
                                       class="form-control input-group"
                                       placeholder=""
                                       ng-model="airFreightItem.BusinessUnit.Name"
                                       ng-disabled="true">
                                <span class="input-group-addon" style="padding:2px 0; color: #4a89dc; cursor: pointer;" title="Search Origin" ng-click="showBusinessUnit('ORIGIN')">
                                    <span class=" glyphicon glyphicon-search"></span>
                                </span>
                            </div>
                        </div>

                        <label class="col-md-2 control-label">Destination</label>
                        <div class="col-md-4">
                            <div class='input-group'>
                                <input type='text'
                                       class="form-control input-group"
                                       ng-model="airFreightItem.BusinessUnit1.Name"
                                       ng-disabled="true" />
                                <span class="input-group-addon" style="padding:2px 0; color: #4a89dc; cursor: pointer;" title="Search Destination" ng-click="showBusinessUnit('DESTINATION')">
                                    <span class="glyphicons glyphicons-search"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label class="col-md-2 control-label small">Est Departure Date</label>
                        <div class="col-md-2">
                            <div class='input-group date'>
                                <input type='text'
                                       id='estimateDepartureDate'
                                       class="form-control"
                                       ng-model="airFreightItem.EstimatedDepartureDate"
                                       ng-disabled="viewOnly" />
                                <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                    <span class=" glyphicon glyphicon-remove-circle"></span>
                                </span>
                            </div>
                        </div>

                        <label class="col-md-4 control-label small">Est Arrival Date</label>
                        <div class="col-md-2">
                            <div class='input-group date'>
                                <input type='text'
                                       id='estimateArrivalDate'
                                       class="form-control"
                                       ng-model="airFreightItem.EstimatedArrivalDate"
                                       ng-disabled="viewOnly" />
                                <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                    <span class=" glyphicon glyphicon-remove-circle"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-md-2 control-label small">Est Departure Time</label>
                        <div class="col-md-2">
                            <div class='input-group date'>
                                <input type='text'
                                       id='estimateDepartureTime'
                                       class="form-control"
                                       ng-model="airFreightItem.EstimatedDepartureTime"
                                       ng-disabled="viewOnly" />
                                <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                    <span class=" glyphicon glyphicon-remove-circle"></span>
                                </span>
                            </div>
                        </div>

                        <label class="col-md-4 control-label small">Est Arrival Time</label>
                        <div class="col-md-2">
                            <div class='input-group date'>
                                <input type='text'
                                       id='estimateArrivalTime'
                                       class="form-control"
                                       ng-model="airFreightItem.EstimatedArrivalTime"
                                       ng-disabled="viewOnly" />
                                <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                    <span class=" glyphicon glyphicon-remove-circle"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-md-2 control-label small">Departure Date</label>
                        <div class="col-md-2">
                            <div class='input-group date'>
                                <input type='text'
                                       id='departureDate'
                                       class="form-control"
                                       ng-model="airFreightItem.DepartureDate"
                                       ng-disabled="viewOnly" />
                                <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                    <span class=" glyphicon glyphicon-remove-circle"></span>
                                </span>
                            </div>
                        </div>

                        <label class="col-md-4 control-label small">Arrival Date</label>
                        <div class="col-md-2">
                            <div class='input-group date'>
                                <input type='text'
                                       id='arrivalDate'
                                       class="form-control"
                                       ng-model="airFreightItem.ArrivalDate"
                                       ng-disabled="viewOnly" />
                                <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                    <span class=" glyphicon glyphicon-remove-circle"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-md-2 control-label small">Departure Time</label>
                        <div class="col-md-2">
                            <div class='input-group date'>
                                <input type='text'
                                       id='departureTime'
                                       class="form-control"
                                       ng-model="airFreightItem.DepartureTime"
                                       ng-disabled="viewOnly" />
                                <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                    <span class=" glyphicon glyphicon-remove-circle"></span>
                                </span>
                            </div>
                        </div>

                        <label class="col-md-4 control-label small">Arrival Time</label>
                        <div class="col-md-2">
                            <div class='input-group date'>
                                <input type='text'
                                       id='arrivalTime'
                                       class="form-control"
                                       ng-model="airFreightItem.ArrivalTime"
                                       ng-disabled="viewOnly" />
                                <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                    <span class=" glyphicon glyphicon-remove-circle"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>
        </form>
    </div>

    @*Detail*@
    <div class="row">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Details</legend>
            <div id="sList" ng-repeat="sList in AirFreightShipments">
                <div class="row">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Detail No {{$index+1}}</legend>
                        <div class="col-md-12">
                            <span title="Remove" style="color:#4a89dc;position:absolute;right:0;">
                                <span class=" glyphicon glyphicon-remove-circle" ng-click="removeBooking($index)"></span>
                            </span>
                        </div>
                        <br />
                        <!-------form------->
                        @*row1*@
                        <div class="row">
                            <form class="form-horizontal" role="form">
                                @*col1*@
                                <div class="col-lg-6">
                                    @*Shipment No*@
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label small">Shipment No</label>
                                        <div class='col-md-4'>
                                            <div class='input-group'>
                                                <input type='text'
                                                       class="form-control"
                                                       ng-model="sList.Shipment.Id"
                                                       ng-disabled="true" />
                                                <span class="input-group-addon" style="padding:2px 0; color: #4a89dc ; cursor: pointer;" title="Search Shipment" ng-click="showShipment($index)">
                                                    <span class="glyphicons glyphicons-search"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    @*Customer Code*@
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label small">Shipper Code</label>
                                        <div class="col-md-4">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder=""
                                                   ng-model="sList.Shipment.Customer.Code"
                                                   ng-disabled="true">
                                        </div>
                                    </div>
                                    @*Customer Name*@
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label small">Shipper Name</label>
                                        <div class="col-md-8">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder=""
                                                   ng-model="sList.Shipment.Customer.Name"
                                                   ng-disabled="true">
                                        </div>
                                    </div>

                                    @*Consginee*@
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label small">Consignee Name</label>
                                        <div class="col-md-8">
                                            <input id="consigneename"
                                                   type="text"
                                                   class="form-control"
                                                   placeholder=""
                                                   ng-model="sList.Shipment.DeliverTo"
                                                   ng-disabled="true">
                                        </div>
                                    </div>
                                    @*Consignee Contact No*@
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label small">Consignee Contact No</label>
                                        <div class="col-md-8">
                                            <input id="consigneecontactno"
                                                   type="text"
                                                   class="form-control"
                                                   placeholder=""
                                                   ng-model="sList.Shipment.DeliverToContactNo"
                                                   ng-disabled="true">
                                        </div>
                                    </div>
                                    @*Consignee Address*@
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label small">Consignee Address</label>
                                        <div class="col-md-8">
                                            <textarea rows="3" style="height:auto;"
                                                      class="form-control"
                                                      placeholder=""
                                                      ng-model="sList.Shipment.DeliveryAddress"
                                                      ng-disabled="true"></textarea>
                                        </div>
                                    </div>

                                </div>
                                @*col2*@
                                <div class="col-lg-6">
                                    @*Cargo Description*@
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label small">Cargo Description</label>
                                        <div class="col-md-8">
                                            <textarea rows="3" style="height:auto;"
                                                      class="form-control"
                                                      placeholder=""
                                                      ng-model="sList.Shipment.Description"
                                                      ng-disabled="true"></textarea>
                                        </div>
                                    </div>
                                    @*Quantity*@
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label small">Quantity</label>
                                        <div class="col-md-4">
                                            <input id="quantity"
                                                   type="text"
                                                   placeholder="0"
                                                   class="form-control text-right"
                                                   ng-model="sList.Shipment.Quantity"
                                                   ng-disabled="true">
                                        </div>
                                    </div>
                                    @*Total CBM*@
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label small">Total CBM</label>
                                        <div class="col-md-4">
                                            <input id="cbm"
                                                   type="text"
                                                   placeholder="0"
                                                   class="form-control text-right"
                                                   ng-model="sList.Shipment.TotalCBM"
                                                   ng-disabled="true">
                                        </div>
                                    </div>
                                    @*Delivery Date*@
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label small">Delivery Date</label>
                                        <div class="col-md-4">
                                            <div class='input-group date'>
                                                <input type='text'
                                                       id='deliverydate'
                                                       class="form-control"
                                                       ng-model="sList.Shipment.DeliveryDate"
                                                       ng-disabled="true" />
                                                @*<span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                                    <span class=" glyphicon glyphicon-remove-circle"></span>
                                                    </span>*@
                                            </div>
                                        </div>
                                    </div>
                                    @*Delivery Time*@
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label small">Delivery Time</label>
                                        <div class="col-md-4">
                                            <div class='input-group date'>
                                                <input type='text'
                                                       id='deliverytime'
                                                       class="form-control"
                                                       ng-model="sList.Shipment.DeliveryTime"
                                                       ng-disabled="true" />
                                                @*<span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                                    <span class=" glyphicon glyphicon-remove-circle"></span>
                                                    </span>*@
                                            </div>
                                        </div>
                                    </div>
                                    @*Cost Allocation*@
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label small">Cost Allocation</label>
                                        <div class="col-md-4">
                                            <input id="costAllocation"
                                                   type="text"
                                                   class="form-control text-right"
                                                   ng-model="sList.CostAllocation"
                                                   ng-disabled="viewOnly">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!--end sa form-->
                    </fieldset>
                </div>
            </div>

            <div class="row text-right">
                <div class="col-md-22">
                    <button class="btn btn-sm btn-primary" type="submit" ng-click="airFreightShipmentsAdd()">
                        Add Shipment from Booking
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
}

<!-- AirFreight List -->
@section tab2Content{
    <div style="padding:0 10px">
        <div class="text-right toggle-hide" ng-click="hideAirFreightToggle()" ng-show="airFreightToggle">
            <span class="fa fa-minus" title="Hide"></span>
        </div>
        <div id="airFreightToggle">
            <div id="airFreightFilterContainter" style="padding-left:10px;"></div>
        </div><br>
        <div id="airFreightContainer"></div>
    </div>
}

<!-- Shipment List Modal -->
<div id="shipment-list-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Shipment List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body" style="{{modalStyle}}">
            <div id="shipmentFilterContainter" style="padding-left:10px;"></div>
            <div id="shipmentContainer"></div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeModal()">Close</button>
        </div>
    </div>
</div>
<!--End of Shipment List Modal -->
<!-- Airline List Modal -->
<div id="airline-list-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Airline List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body" style="{{modalStyle}}">
            <div id="airlineFilterContainter" style="padding-left:10px;"></div>
            <div id="airlineContainer"></div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeModal()">Close</button>
        </div>
    </div>
</div>
<!--End of Shipment List Modal -->
<!-- Business Unit List Modal -->
<div id="business-unit-list-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Business Unit List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body" style="{{modalStyle}}">
            <div id="businessUnitFilterContainter" style="padding-left:10px;"></div>
            <div id="businessUnitContainer"></div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeModal()">Close</button>
        </div>
    </div>
</div>
<!--End of Business Unit List Modal -->

<div class="dropdown position-fixed" id="FormMenu" ng-hide="modalShown">
    <ul class="dropdown-menu" role="menu">
        <li>
            <a class="pointer small" role="menuitem" tabindex="0" ng-click="airFreightOtheractions('Find')">Find</a>
        </li>
        <li>
            <a class="pointer small" role="menuitem" tabindex="1" ng-click="airFreightOtheractions('FormCreate')">Create</a>
        </li>
        <li>
            <a style="{{enableSave == true ? '' : 'color:#B8B8B8'}}" class="pointer small" role="menuitem" tabindex="3" ng-click="enableSave == true ? submit() : ''">Save</a>
        </li>
        <li>
            <a style="{{airFreightItem.Id != null && airFreightSubmitDefinition.Type == 'Edit' ? '' : 'color:#B8B8B8'}}" class="pointer small" role="menuitem" tabindex="2" ng-click="airFreightOtheractions(airFreightItem.Id != null && airFreightSubmitDefinition.Type == 'Edit' ? 'PostEditAction' : '')">Edit</a>
        </li>
        <li>
            <a style="{{airFreightItem.Id != null && airFreightSubmitDefinition.Type != 'Delete' ? '' : 'color:#B8B8B8'}}" class="pointer small" role="menuitem" tabindex="3" ng-click="airFreightOtheractions(airFreightItem.Id != null && airFreightSubmitDefinition.Type != 'Delete' ? 'PostDeleteAction' : '')">Cancel</a>
        </li>
    </ul>
</div>