
@{
    Layout = "~/Views/Shared/_DataTableLayout1.cshtml";
}
<!-- Airlines List/DataTable -->
@section tableContent{
    <div class="myTableContainter">
        <div class="myTableContent">
            <!--Header-->
            <div class="myTableRow-header text-dark small">
                <div class="myTableCell cell-seqno small text-center"><strong>No</strong></div>
                <div class="myTableCell cell-9 small text-left" ng-click="processAirlineOrderBy('Name')">
                    <strong>Name</strong>
                    <span class="glyphicon glyphicon-chevron-down"
                          ng-show="orderByAirlineNameDesc"></span>
                    <span class="glyphicon glyphicon-chevron-up"
                          ng-show="orderByAirlineNameAsc"></span>
                </div>
            </div>
            <!--Details-->
            <div class="myTableRow" 
                 ng-repeat="a in data | orderBy:airlineCriteria" 
                 ng-click="setSelected($index, a.Id)"
                 ng-dblclick="actionForm('Update')" 
                 context-menu="setSelected($index, a.Id)" 
                 data-target="DataTableMenu">
                <div class="myTableCell cell-seqno small text-center">
                    {{currentPage == 1 ? ($index + 1) : (($index + 1) + ((currentPage - 1) * pageSize))}}
                </div>
                <div class="myTableCell cell-9 small text-left">{{a.Name}}</div>
            </div>
        </div>
    </div>
}

@section formContent{
    <form class="form-horizontal" role="form">
        <div class="form-group form-group-sm">
            <label for="name" class="col-md-3 control-label small">Name</label>
            <div class="col-md-8">
                <input type="text" id="name" class="form-control small" placeholder=""
                       ng-model="dataItem.Name" ng-disabled="viewOnly" pattern=".{0,150}">
            </div>
        </div>
    </form>
}