@{
    Layout = "~/Views/Shared/_TransactionLayout.cshtml";
}

<!-- General -->
@section tab1Content{
    <div class="alert alert-danger alert-sm" ng-show="isError">
        <i class="fa fa-remove pr10"></i>
        <strong>ERROR!</strong>{{errorMessage}}
    </div>
    @*Column 1*@
    <div class="col-lg-6">
        <form class="form-horizontal" role="form">
            @*Shipment No*@
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Shipment No</label>
                <div class="col-md-8">
                    <input type="text"
                           class="form-control"
                           placeholder="System Generated"
                           ng-model="shipmentItem.Id"
                           ng-disabled="true">
                </div>
            </div>
            @*Business Unit*@
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Business Unit</label>
                <div class="col-md-8">
                    <input type="text"
                           class="form-control"
                           placeholder=""
                           ng-model="shipmentItem.BusinessUnit.Name"
                           ng-disabled="viewOnly"
                           ng-click="showModal('#business-unit-list-modal')">
                </div>
            </div>
            @*Service*@
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Service</label>
                <div class="col-md-8">
                    <select class="form-control"
                            placeholder=""
                            ng-disabled="viewOnly"
                            ng-model="shipmentItem.ServiceId"
                            ng-options="item.Id as item.Name for item in serviceList"></select>
                </div>
            </div>
            @*Shipment Type*@
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Shipment Type</label>
                <div class="col-md-8">
                    <select class="form-control"
                            placeholder=""
                            ng-disabled="viewOnly"
                            ng-model="shipmentItem.ShipmentTypeId"
                            ng-options="item.Id as item.Name for item in shipmentTypeList"></select>
                </div>
            </div>
            @*Payment Mode*@
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Payment Mode</label>
                <div class="col-md-8">
                    <select class="form-control"
                            placeholder=""
                            ng-disabled="viewOnly"
                            ng-model="shipmentItem.PaymentMode"
                            ng-options="item.Id as item.Name for item in paymentModeList"></select>
                </div>
            </div>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Customer Information</legend>
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Code</label>
                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               placeholder=""
                               ng-model="shipmentItem.Customer.Code"
                               ng-disabled="viewOnly"
                               ng-click="showModal('#customer-list-modal', 'customer')">
                    </div>
                </div>
                @*Customer Name*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Name</label>
                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               placeholder=""
                               ng-model="shipmentItem.Customer.Name"
                               ng-disabled="true">
                    </div>
                </div>
                @*Customer Contact No*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Contact No</label>
                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               placeholder=""
                               ng-model="shipmentItem.Customer.CustomerContacts[0].Contact.ContactNumber"
                               ng-disabled="true">
                    </div>
                </div>
                @*Customer Address*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Address</label>
                    <div class="col-md-8">
                        <textarea rows="3" style="height:auto;"
                                  class="form-control"
                                  placeholder=""
                                  ng-model="shipmentItem.CustomerAddress"
                                  ng-disabled="true"></textarea>
                    </div>
                </div>
            </fieldset>
            
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Consignee Information</legend>

                @*Consginee*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Name</label>
                    <div class="col-md-8">
                        <input id="consigneename"
                               type="text"
                               class="form-control"
                               placeholder=""
                               ng-model="shipmentItem.DeliverTo"
                               ng-disabled="viewOnly">
                    </div>
                </div>
                @*Consignee Contact No*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Contact No</label>
                    <div class="col-md-8">
                        <input id="consigneecontactno"
                               type="text"
                               class="form-control"
                               placeholder=""
                               ng-model="shipmentItem.DeliverToContactNo"
                               ng-disabled="viewOnly">
                    </div>
                </div>
                @*Consignee Address*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Address</label>
                    <div class="col-md-8">
                        <textarea rows="3" style="height:auto;"
                                  class="form-control"
                                  placeholder=""
                                  ng-model="shipmentItem.Origin"
                                  ng-disabled="viewOnly"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Bill To Customer Information</legend>
                @*Bill To Customer Code*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Code</label>
                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               placeholder=""
                               ng-model="shipmentItem.BillToCustomerCode"
                               ng-disabled="viewOnly"
                               ng-click="showModal('#customer-list-modal', 'billto')">
                    </div>
                </div>
                @*Bill To Customer Name*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Name</label>
                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               placeholder=""
                               ng-model="shipmentItem.BillToCustomerName"
                               ng-disabled="true">
                    </div>
                </div>      
                @*Bill To Customer Contact*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Contact No</label>
                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               placeholder=""
                               ng-model="shipmentItem.BillToCustomerContactPhone"
                               ng-disabled="true">
                    </div>
                </div>
                @*Bill To Customer Address*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Address</label>
                    <div class="col-md-8">
                        <textarea rows="3" style="height:auto;"
                                  class="form-control"
                                  placeholder=""
                                  ng-model="shipmentItem.BillToCustomerAddress"
                                  ng-disabled="true"></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    @*Column 2*@
    <div class="col-lg-6">
        <form class="form-horizontal" role="form">
            @*Is Revenue*@
            <div class="form-group form-group-sm" style="padding-bottom:5px;">
                <label class="col-md-3 control-label small"></label>
                <div class="col-md-8">
                    <div class="checkbox-custom">
                        <input id="isRevenue"
                               type="checkbox"
                               ng-model="shipmentItem.IsRevenue"
                               ng-disabled="viewonly">
                        <label for="isRevenue"
                               class="small">Is Revenue?</label>
                    </div>
                </div>
            </div>
            @*Revenue*@
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Revenue</label>
                <div class="col-md-8">
                    <input id="revenue"
                           type="text"
                           class="form-control"
                           placeholder=""
                           ng-model="shipmentItem.Revenue"
                           ng-disabled="(viewOnly == false && shipmentItem.IsRevenue == true) ? false : true">
                </div>
            </div>
            @*Is Tax Inclusive*@
            <div class="form-group form-group-sm" style="padding-bottom:5px;">
                <label class="col-md-3 control-label small"></label>
                <div class="col-md-8">
                    <div class="checkbox-custom">
                        <input id="IsTaxInclusive"
                               type="checkbox"
                               ng-model="shipmentItem.IsTaxInclusive"
                               ng-disabled="viewOnly">
                        <label for="IsTaxInclusive"
                               class="small">Is Tax Inclusive?</label>
                    </div>
                </div>
            </div>
            @*Tax Amount*@
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Tax Amount</label>
                <div class="col-md-8">
                    <input id="taxamount"
                           type="text"
                           class="form-control"
                           placeholder=""
                           ng-model="shipmentItem.TaxAmount"
                           ng-disabled="(viewOnly == false && shipmentItem.IsTaxInclusive == true) ? false : true">
                </div>
            </div>
            @*Tax Percentage*@
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Tax Percentage</label>
                <div class="col-md-8">
                    <input id="taxpercentage"
                           type="text"
                           class="form-control"
                           ng-model="shipmentItem.TaxPercentage"
                           ng-disabled="(viewOnly == false && shipmentItem.IsTaxInclusive == true) ? false : true">
                </div>
            </div>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Cargo Details</legend>

                @*Is Consolidated, IsMultipleDelivery*@
                <div class="form-group form-group-sm" style="padding-bottom:5px;">
                    <div class="row">
                        <div class="col-md-12" style="padding-left:133px;">
                            <div class="checkbox-custom">
                                <input id="isConsolidated"
                                       type="checkbox"
                                       ng-model="shipmentItem.IsConsolidation"
                                       ng-disabled="viewonly">
                                <label for="isConsolidated"
                                       class="small">Is Consolidated?</label>
                                <input id="isMultipleDelivery"
                                       type="checkbox"
                                       ng-model="shipmentItem.IsMultipleDelivery"
                                       ng-disabled="viewOnly">
                                <label for="isMultipleDelivery"
                                       class="small">Is Multiple Delivery?</label>
                            </div>
                        </div>
                    </div>
                </div>
                @*Quantity*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Total Qty</label>
                    <div class="col-md-8">
                        <input id="quantity"
                               type="text"
                               class="form-control"
                               ng-model="shipmentItem.Quantity"
                               ng-disabled="viewOnly">
                    </div>
                </div>
                @*Total CBM*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Total CBM</label>
                    <div class="col-md-8">
                        <input id="cbm"
                               type="text"
                               class="form-control"
                               ng-model="shipmentItem.TotalCBM"
                               ng-disabled="viewOnly">
                    </div>
                </div>
                @*Cargo Description*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Description</label>
                    <div class="col-md-8">
                        <textarea rows="3" style="height:auto;"
                                  class="form-control"
                                  ng-model="shipmentItem.Description"
                                  ng-disabled="viewOnly"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Pick Up Details</legend>
                @*Pick Up Date*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Date</label>
                    <div class="col-md-4">
                        <div class='input-group date'>
                            <input type='text'
                                   id='pickupdate'
                                   class="form-control"
                                   ng-model="shipmentItem.PickupDate"
                                   ng-disabled="viewonly" />
                            <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                <span class=" glyphicon glyphicon-remove-circle"></span>
                            </span>
                        </div>
                    </div>
                </div>
                @*Pick Up Time*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Time</label>
                    <div class="col-md-4">
                        <div class='input-group date'>
                            <input type='text'
                                   id='pickuptime'
                                   class="form-control"
                                   ng-model="shipmentItem.PickupTime"
                                   ng-disabled="viewonly" />
                            <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                <span class=" glyphicon glyphicon-remove-circle"></span>
                            </span>
                        </div>
                    </div>
                </div>
                @*Pick Up Address*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Address</label>
                    <div class="col-md-8">
                        <textarea rows="3" style="height:auto;"
                                  class="form-control"
                                  placeholder=""
                                  ng-model="shipmentItem.OriginAddress"
                                  ng-disabled="viewonly"></textarea>
                    </div>
                </div>
            </fieldset>
            <script type="text/javascript">
                $(function () {
                    $('#pickupdate').datetimepicker({
                        format: 'MM-DD-YYYY',
                        sideBySide: false,
                        pickTime: false,
                        //minDate: moment()
                    })
                    $('#pickuptime').datetimepicker({
                        format: 'HH:mm',
                        sideBySide: false,
                        pickDate: false
                    })
                });
            </script>
        </form>
    </div>
}
<!-- List -->
@section tab2Content{
    <div ui-grid="shipmentGridOptions" class="grid" ui-grid-resize-columns ui-grid-move-columns ui-grid-exporter></div><br />
}

<!-- Customer List Modal -->
<div id="customer-list-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Customer List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body">
            <div class="myTableContainter ">
                <table class="myTableContent table-bordered">
                    <thead>
                        <tr class="myTableRow-header text-dark small">
                            <th class="myTableCell cell-seqno small">No</th>
                            <th class="myTableCell cell-10 small text-center">Code</th>
                            <th class="myTableCell cell-10 small text-center">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="myTableRow"
                            ng-repeat="c in customerList"
                            ng-click="closeCustomerList(c)">
                            <td class="myTableCell cell-seqno small">{{$index + 1}}</td>
                            <td class="myTableCell cell-10 small">{{c.Code}}</td>
                            <td class="myTableCell cell-10 small">{{c.Name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeCustomerList(c)">Cancel</button>
        </div>
    </div>
</div>
<!--End of Customer List Modal 

<!-- Customer Contacts List Modal -->
<div id="customer-contacts-list-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Customer Contact List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body">
            <div class="myTableContainter ">
                <table class="myTableContent table-bordered">
                    <thead>
                        <tr class="myTableRow-header text-dark small">
                            <th class="myTableCell cell-seqno small">No</th>
                            <th class="myTableCell cell-10 small text-center">Name</th>
                            <th class="myTableCell cell-10 small text-center">Title</th>
                            <th class="myTableCell cell-10 small text-center">Email</th>
                            <th class="myTableCell cell-10 small text-center">Alternate Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="myTableRow"
                            ng-repeat="cc in customerContactList"
                            ng-click="closeCustomerContacts(cc)">
                            <td class="myTableCell cell-seqno small">{{$index + 1}}</td>
                            <td class="myTableCell cell-10 small">{{cc.Contact.Name}}</td>
                            <td class="myTableCell cell-10 small">{{cc.Contact.Title}}</td>
                            <td class="myTableCell cell-10 small">{{cc.Contact.Email}}</td>
                            <td class="myTableCell cell-10 small">{{cc.Contact.AlternateEmail}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeCustomerContacts(cc)">Cancel</button>
        </div>
    </div>
</div>
<!--End of Customer Contacts List Modal -->

<!-- Customer Contact Phone List Modal -->
<div id="customer-contact-phones-list-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Customer Contact Phone List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body">
            <div class="myTableContainter ">
                <table class="myTableContent table-bordered">
                    <thead>
                        <tr class="myTableRow-header text-dark small">
                            <th class="myTableCell cell-seqno small">No</th>
                            <th class="myTableCell cell-10 small text-center">Contact Number</th>
                            <th class="myTableCell cell-10 small text-center">Contact Number Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="myTableRow"
                            ng-repeat="ccp in customerContactPhoneList"
                            ng-click="closeCustomerContactPhones(ccp)">
                            <td class="myTableCell cell-seqno small">{{$index + 1}}</td>
                            <td class="myTableCell cell-10 small">{{ccp.ContactNumber}}</td>
                            <td class="myTableCell cell-10 small">{{ccp.ContactNumberType.Type}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeCustomerContactPhones(ccp)">Cancel</button>
        </div>
    </div>
</div>
<!--End of Customer Contact Phone List Modal -->

<!-- Customer Address List Modal -->
<div id="customer-address-list-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Customer List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body">
            <div class="myTableContainter ">
                <table class="myTableContent table-bordered">
                    <thead>
                        <tr class="myTableRow-header text-dark small">
                            <th class="myTableCell cell-seqno small">No</th>
                            <th class="myTableCell cell-10 small text-center">Line 1</th>
                            <th class="myTableCell cell-10 small text-center">Line 2</th>
                            <th class="myTableCell cell-10 small text-center">City/Municipality</th>
                            <th class="myTableCell cell-10 small text-center">Postal Code</th>
                            <th class="myTableCell cell-10 small text-center">Is Billing Address?</th>
                            <th class="myTableCell cell-10 small text-center">Is Delivery Address?</th>
                            <th class="myTableCell cell-10 small text-center">Is Pickup Address?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="myTableRow"
                            ng-repeat="ca in customerAddressList"
                            ng-click="closeCustomerAddressList(ca)">
                            <td class="myTableCell cell-seqno small">{{$index + 1}}</td>
                            <td class="myTableCell cell-10 small">{{ca.Line1}}</td>
                            <td class="myTableCell cell-10 small">{{ca.Line2}}</td>
                            <td class="myTableCell cell-10 small">{{ca.CityMunicipality.Name}}</td>
                            <td class="myTableCell cell-10 small">{{ca.PostalCode}}</td>
                            <td class="myTableCell cell-10 small">{{(ca.IsBillingAddress == true ? "Yes" : "No")}}</td>
                            <td class="myTableCell cell-10 small">{{(ca.IsDeliveryAddress == true ? "Yes" : "No")}}</td>
                            <td class="myTableCell cell-10 small">{{(ca.IsPickupAddress == true ? "Yes" : "No")}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeCustomerAddressList(ca)">Cancel</button>
        </div>
    </div>
</div>
<!--End of Customer List Modal -->

<!-- Business Unit List Modal -->
<div id="business-unit-list-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Business Unit List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body">
            <div class="row">
                <div class="myTableContainter ">
                    <table class="myTableContent table-bordered">
                        <thead>
                            <tr class="myTableRow-header text-dark small">
                                <th class="myTableCell cell-seqno small">No</th>
                                <th class="myTableCell cell-10 small text-center">Code</th>
                                <th class="myTableCell cell-10 small text-center">Name</th>
                                <th class="myTableCell cell-10 small text-center">Operating Site?</th>
                                <th class="myTableCell cell-10 small text-center">Has Airport?</th>
                                <th class="myTableCell cell-10 small text-center">Has Seaport?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="myTableRow"
                                ng-repeat="bu in businessUnitList"
                                ng-click="closeBusinessUnitList(bu)">
                                <td class="myTableCell cell-seqno small">{{$index + 1}}</td>
                                <td class="myTableCell cell-10 small">{{bu.Code}}</td>
                                <td class="myTableCell cell-10 small">{{bu.Name}}</td>
                                <td class="myTableCell cell-10 small">{{(bu.isOperatingSite == true ? 'Yes' : 'No')}}</td>
                                <td class="myTableCell cell-10 small">{{(bu.hasAirPort == true ? 'Yes' : 'No')}}</td>
                                <td class="myTableCell cell-10 small">{{(bu.hasSeaPort == true ? 'Yes' : 'No')}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeBusinessUnitList(bu)">Cancel</button>
        </div>
    </div>
</div>
<!--End of Business Unit List Modal -->
