@{
    Layout = "~/Views/Shared/_DataTableLayout1.cshtml";
}
<!-- Business Unit List/DataTable -->
@section tableContent{
    <dir-data-grid1 actioncreate="actionCreate"
                    actionmode="actionMode"
                    datadefinition="dataDefinition"
                    submitbuttontext="submitButtonText"
                    submitbuttonlistener="submitButtonListener"
                    closecontainer="closeModalForm()"
                    opencontainer="openModalForm()"
                    otheractions="otherActions(action)"
                    resetdata="resetDataItem()"
                    showformerror="showFormError(error)">
    </dir-data-grid1>
}

@section formContent{
    <form class="form-horizontal" role="form">
        <div class="form-group form-group-sm">
            <label class="col-md-4 control-label small">Code</label>
            <div class="col-md-8">
                <input type="text"
                       class="form-control small"
                       placeholder=""
                       ng-model="dataDefinition.DataItem.Code"
                       ng-disabled="dataDefinition.ViewOnly"
                       pattern=".{0,20}">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-md-4 control-label small">Name</label>
            <div class="col-md-8">
                <input type="text"
                       class="form-control small"
                       placeholder=""
                       ng-model="dataDefinition.DataItem.Name"
                       ng-disabled="dataDefinition.ViewOnly"
                       pattern=".{0,150}">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-md-4 control-label small text-right">Main Business Unit</label>
            <div class="col-md-8">
                <select class="form-control"
                        placeholder=""
                        ng-disabled="dataDefinition.ViewOnly"
                        ng-change="selectBusinessUnit(dataDefinition.DataItem.ParentBusinessUnitId)"
                        ng-model="dataDefinition.DataItem.ParentBusinessUnitId"
                        ng-options="item.Id as item.Name for item in businessUnitList"></select>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-md-4 control-label small text-right">Business Unit Type</label>
            <div class="col-md-8">
                <select class="form-control"
                        placeholder=""
                        ng-disabled="dataDefinition.ViewOnly"
                        ng-change="selectBusinessUnitType(dataDefinition.DataItem.BusinessUnitTypeId)"
                        ng-model="dataDefinition.DataItem.BusinessUnitTypeId"
                        ng-options="item.Id as item.Name for item in businessUnitTypeList"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="checkbox-custom">
                    <input id="isOperatingSite"
                           type="checkbox"
                           ng-model="dataDefinition.DataItem.isOperatingSite"
                           ng-disabled="dataDefinition.ViewOnly">
                    <label for="isOperatingSite"
                           class="small">Is Operating Site?</label>
                </div>
                <div class="checkbox-custom">
                    <input id="hasAirPort"
                           type="checkbox"
                           ng-model="dataDefinition.DataItem.hasAirPort"
                           ng-disabled="dataDefinition.ViewOnly">
                    <label for="hasAirPort"
                           class="small">Has Airport?</label>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="checkbox-custom">
                    <input id="hasSeaPort"
                           type="checkbox"
                           ng-model="dataDefinition.DataItem.hasSeaPort"
                           ng-disabled="dataDefinition.ViewOnly">
                    <label for="hasSeaPort"
                           class="small">Has Seaport?</label>
                </div>
            </div>
        </div>
    </form>
}
