@{
    Layout = "~/Views/Shared/_DataTableLayout1.cshtml";
}
<!-- Courier List/DataTable -->
@section tableContent{
    <div class="myTableContainter">
        <div class="myTableContent">
            <!--Header-->
            <div class="myTableRow-header text-dark small">
                <div class="myTableCell cell-seqno small text-center"><strong>No.</strong></div>
                <div class="myTableCell cell-3 small" ng-click="processCourierSorting('Name')">
                    <strong>Name</strong>
                    <span class="glyphicon glyphicon-chevron-down"
                          ng-show="courierCriteria === 'Name' || courierCriteria === '-Name' ? courierOrderByDesc: false"></span>
                    <span class="glyphicon glyphicon-chevron-up"
                          ng-show="courierCriteria === 'Name' || courierCriteria === '-Name' ? courierOrderByAsc: false"></span>
                </div>
                <div class="myTableCell cell-2 small" ng-click="processCourierSorting('TIN')">
                    <strong>TIN</strong>
                    <span class="glyphicon glyphicon-chevron-down"
                          ng-show="courierCriteria === 'TIN' || courierCriteria === '-TIN' ? courierOrderByDesc: false"></span>
                    <span class="glyphicon glyphicon-chevron-up"
                          ng-show="courierCriteria === 'TIN' || courierCriteria === '-TIN' ? courierOrderByAsc: false"></span>
                </div>
                <div class="myTableCell cell-5 small" ng-click="processCourierSorting('Line1')">
                    <strong>Address</strong>
                    <span class="glyphicon glyphicon-chevron-down"
                          ng-show="courierCriteria === 'Line1' || courierCriteria === '-Line1' ? courierOrderByDesc: false"></span>
                    <span class="glyphicon glyphicon-chevron-up"
                          ng-show="courierCriteria === 'Line1' || courierCriteria === '-Line1' ? courierOrderByAsc: false"></span>
                </div>
                <div class="myTableCell cell-2 small" ng-click="processCourierSorting('PostalCode')">
                    <strong>Postal Code</strong>
                    <span class="glyphicon glyphicon-chevron-down"
                          ng-show="courierCriteria === 'PostalCode' || courierCriteria === '-PostalCode' ? courierOrderByDesc: false"></span>
                    <span class="glyphicon glyphicon-chevron-up"
                          ng-show="courierCriteria === 'PostalCode' || courierCriteria === '-PostalCode' ? courierOrderByAsc: false"></span>
                </div>
            </div>
            <!--Details-->
            <div class="myTableRow"
                 ng-repeat="c in data | orderBy:courierCriteria"
                 ng-click="setSelected($index, c.Id)"
                 ng-dblclick="actionForm('Update')"
                 context-menu="setSelected($index, c.Id)"
                 data-target="DataTableMenu">
                <div class="myTableCell cell-seqno small text-center">{{currentPage == 1 ? ($index + 1) : (($index + 1) + ((currentPage - 1) * pageSize))}}</div>
                <div class="myTableCell cell-3 small">{{c.Name}}</div>
                <div class="myTableCell cell-2 small">{{c.TIN}}</div>
                <div class="myTableCell cell-5 small">{{c.Line1 + ", " + (c.Line2 == null || c.Line2 == "" ? "" : (c.Line2 + ", ")) + c.CityMunicipality.Name}}</div>
                <div class="myTableCell cell-2 small">{{c.PostalCode}}</div>
            </div>
        </div>
    </div>
}
@section formContent{
    <!-- This is the template use for City/Municpality Typeahead -->
    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
            <span>, {{match.model.StateProvinceName + ", " + match.model.CountryName}}</span>
        </a>
    </script>
    <form class="form-horizontal" role="form">
        <div class="form-group form-group-sm">
            <label for="name" 
                   class="col-md-3 control-label small">Name</label>
            <div class="col-md-8">
                <input type="text" 
                       id="name" 
                       class="form-control small" 
                       placeholder=""
                       ng-model="dataItem.Name" 
                       ng-disabled="viewOnly" 
                       pattern=".{0,150}">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="name" class="col-md-3 control-label small">TIN</label>
            <div class="col-md-8">
                <input type="text"
                       id="TIN" 
                       class="form-control small" 
                       placeholder=""
                       ng-model="dataItem.TIN" 
                       ng-disabled="viewOnly" 
                       ng-change ="formatTIN()"
                       maxlength="11">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-md-3 control-label small">Street Address</label>
            <div class="col-md-8">
                <input type="text" 
                       class="form-control" 
                       placeholder="Street address line 1"
                       ng-model="dataItem.Line1" 
                       ng-disabled="viewOnly" 
                       pattern=".{0,150}">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-md-3 control-label small"></label>
            <div class="col-md-8">
                <input type="text" 
                       class="form-control" 
                       placeholder="Street address line 2"
                       ng-model="dataItem.Line2" 
                       ng-disabled="viewOnly" 
                       pattern=".{0,150}">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-md-3 control-label small">City/Municipality</label>
            <div class="col-md-8">
                <input type="text" 
                       class="form-control" 
                       placeholder="" 
                       ng-disabled="viewOnly"
                       ng-model="dataItem.CityMunicipality.Name" 
                       typeahead-editable="false"
                       typeahead-on-select="onSelectCity($item, $model, $label)"
                       typeahead="city.Name for city in cityMunicipalities | filter:$viewValue | limitTo:12"
                       typeahead-template-url="customTemplate.html">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-md-3 control-label small">Province/State</label>
            <div class="col-md-8">
                <input type="text" 
                       class="form-control" placeholder=""
                       ng-model="dataItem.CityMunicipality.StateProvince.Name" 
                       ng-disabled="true">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-md-3 control-label small">Postal Code</label>
            <div class="col-md-8">
                <input type="text" 
                       class="form-control" 
                       placeholder=""
                       ng-model="dataItem.PostalCode" 
                       ng-disabled="viewOnly" 
                       pattern=".{0,20}">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-md-3 control-label small">Country</label>
            <div class="col-md-8">
                <input type="text" 
                       class="form-control" 
                       placeholder=""
                       ng-model="country.Name" 
                       ng-disabled="true">
            </div>
        </div>
    </form>
}