@{
    Layout = "~/Views/Shared/_DataTableLayout1.cshtml";
}

@section tableContent{
    <table class="table table-hover">
        <thead class="text-dark">
            <tr>
                <th class="col-md-4 small"><strong>Name</strong></th>
                <th class="col-md-8 small"><strong>Remarks</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in data" ng-click="setSelected($index)"
                ng-dblclick="actionForm('Update')" context-menu="setSelected($index)" data-target="DataTableMenu">
                <td class="small">{{c.Name}}</td>
                <td class="small">{{c.Remarks}}</td>
            </tr>
        </tbody>
    </table>
}

@section formContent{
    <form class="form-horizontal" role="form">
        <div class="form-group form-group-sm">
            <label for="name" class="col-md-3 control-label small">Name</label>
            <div class="col-md-8">
                <input type="text" id="name" class="form-control small" placeholder=""
                       ng-model="dataItem.Name" ng-disabled="viewOnly">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="remarks" class="col-md-3 control-label small">Remarks</label>
            <div class="col-md-8">
                <textarea class="form-control small" id="remarks" rows="3"
                          ng-model="dataItem.Remarks" ng-disabled="viewOnly"></textarea>
            </div>
        </div>
    </form>
}
