@{
    Layout = "~/Views/Shared/_DataTableLayout3.cshtml";
}

<!-- Customer List/DataTable -->
@section tableContent{
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead class="text-dark">
                    <tr>
                        <th class="col-md-1 small"><strong>Code</strong></th>
                        <th class="col-md-3 small"><strong>Name</strong></th>
                        <th class="col-md-3 small"><strong>Industry</strong></th>
                        <th class="col-md-2 small"><strong>TIN</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in data" ng-click="setSelected($index)"
                        context-menu="setSelected($index)" data-target="DataTableMenu">
                        <td class="small">{{c.Code}}</td>
                        <td class="small">{{c.Name}}</td>
                        <td class="small">{{c.Industry.Name}}</td>
                        <td class="small">{{c.TIN}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

<!-- Customer Form -->
@section tab1Content{
    <div class="row" ng-show="selectedTab === tabPages[0]">
        <div class="col-lg-6">
            <form class="form-horizontal" role="form">
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Code</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder=""
                               ng-model="dataItem.Code" ng-disabled="viewOnly">
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder=""
                               ng-model="dataItem.Name" ng-disabled="viewOnly">
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Customer Group</label>
                    <div class="col-md-8">
                        <select class="form-control" placeholder="" ng-disabled="viewOnly"
                                ng-change="selectCustomerGroup(dataItem.CustomerGroupId)"
                                ng-model="dataItem.CustomerGroupId" ng-options="cg.Id as cg.Name for cg in CustomerGroups"></select>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Industry</label>
                    <div class="col-md-8">
                        <select class="form-control" placeholder="" ng-disabled="viewOnly"
                                ng-change="selectIndustry(dataItem.IndustryId)"
                                ng-model="dataItem.IndustryId" ng-options="item.Id as item.Name for item in Industries"></select>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">TIN</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder=""
                               ng-model="dataItem.TIN" ng-disabled="viewOnly">
                    </div>
                </div>
            </form>
        </div>
    </div>
}

<!-- Customer Addresses -->
@section tab2Content{
    <div class="row" ng-show="selectedTab === tabPages[1]">
        <div class="col-lg-6">
            <form class="form-horizontal" role="form">

                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Street Address</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Street address line 1"
                               ng-model="address.Line1" ng-disabled="viewOnly">
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small"></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Street address line 2"
                               ng-model="address.Line2" ng-disabled="viewOnly">
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small"></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Street address line 3"
                               ng-model="address.Line3" ng-disabled="viewOnly">
                    </div>
                </div>


                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">City/Municipality</label>
                    <div class="col-md-8">
                        <select class="form-control" placeholder="" ng-disabled="viewOnly"
                                ng-change=""
                                ng-model="Address.Id" ng-options="city.Id as city.Name for city in cityMunicipalities"></select>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Province/State</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder=""
                               ng-model="address.Line3" ng-disabled="true">
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Country</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder=""
                               ng-model="address.Line3" ng-disabled="true">
                    </div>
                </div>

            </form>
        </div>
    </div>
}
