@{
    Layout = "~/Views/Shared/_DataTableLayout1.cshtml";
}
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
<!-- Driver List/DataTable -->
@section tableContent{
    <table class="table table-hover">
        <thead class="text-dark">
            <tr>
                <th class="col-md-6 small"><strong>Name</strong></th>
                <th class="col-md-3 small"><strong>License Number</strong></th>
                <th class="col-md-3 small"><strong>License Expiry</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in data" ng-click="setSelected($index)"
                ng-dblclick="actionForm('Update')" context-menu="setSelected($index)" data-target="DataTableMenu">
                <td class="small">{{d.LastName + ", " + d.FirstName + " " + d.MiddleName}}</td>
                <td class="small">{{d.LicenseNo}}</td>
                <td class="small">{{d.LicenseExpiry | date : "yyyy-MM-dd"}}</td>
            </tr>
        </tbody>
    </table>
}

@section formContent{
    <form class="form-horizontal" role="form">
        <div class="form-group form-group-sm">
            <label class="col-md-3 control-label small">First Name</label>
            <div class="col-md-8">
                <input type="text" class="form-control small" placeholder=""
                       ng-model="dataItem.FirstName" ng-disabled="viewOnly">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-md-3 control-label small">Middle Name</label>
            <div class="col-md-8">
                <input type="text" class="form-control small" placeholder=""
                       ng-model="dataItem.MiddleName" ng-disabled="viewOnly">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-md-3 control-label small">Last Name</label>
            <div class="col-md-8">
                <input type="text" class="form-control small" placeholder=""
                       ng-model="dataItem.LastName" ng-disabled="viewOnly">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-md-3 control-label small">License No.</label>
            <div class="col-md-5">
                <input type="text" class="form-control small" placeholder=""
                       ng-model="dataItem.LicenseNo" ng-disabled="viewOnly">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-md-3 control-label small">License Expiry</label>
            <div class="col-md-5" >
                <input id="datetimepicker1" type="text" class="form-control small"
                       ng-model="dataItem.LicenseExpiry | date :  'yyyy-MM-dd'" ng-disabled="viewOnly">
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    clearBtn: true,
                    format: 'YYYY-MM-DD',
                });
            });
        </script>
    </form>
}