@{
    Layout = "~/Views/Shared/_TransactionLayout.cshtml";
}

<!-- General -->
@section tab1Content{
    <!--Master-->
    <div class="alert alert-danger alert-sm" ng-show="isError">
        <i class="fa fa-remove pr10"></i>
        <strong>ERROR!</strong>{{errorMessage}}
    </div>
    @*Column 1*@
    <div class="col-lg-6">
        <form class="form-horizontal" role="form">
            @*seafreight No*@
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Freight No</label>
                <div class="col-md-8">
                    <input type="text"
                           class="form-control"
                           placeholder="System Generated"
                           ng-model="seafreightItem.Id"
                           ng-disabled="true">
                </div>
            </div>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Bill of Lading Information</legend>
                @*Bill of Lading Number*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">BL Number</label>
                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               placeholder=""
                               ng-model="seafreightItem.BLNumber">
                    </div>
                </div>
                @*Bill of Lading Date*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">BL Date</label>
                    <div class="col-md-4">
                        <div class='input-group date'>
                            <input type='text'
                                   id='bldate'
                                   class="form-control"
                                   ng-model="seafreightItem.BLDate"
                                   ng-disabled="viewonly" />
                            <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                <span class=" glyphicon glyphicon-remove-circle"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Route Information</legend>
                @*Origin*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Origin</label>
                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               placeholder=""
                               ng-model="seafreightItem.BusinessUnit1.Name"
                               ng-disabled="viewOnly"
                               ng-click="showModal('#origin-business-unit-list-modal')">
                    </div>
                </div>
                @*Destination*@
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Destination</label>
                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               placeholder=""
                               ng-model="seafreightItem.BusinessUnit.Name"
                               ng-disabled="viewOnly"
                               ng-click="showModal('#destination-business-unit-list-modal')">
                    </div>
                </div>
            </fieldset>


            @*Freight Cost*@
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Freight Cost</label>
                <div class="col-md-8">
                    <input type="text"
                           class="form-control"
                           placeholder=""
                           ng-model="seafreightItem.FreightCost">
                </div>
            </div>


        </form>
        <script type="text/javascript">
            $(function () {
                $('#bldate').datetimepicker({
                    format: 'MM-DD-YYYY',
                    sideBySide: false,
                    pickTime: false,
                    //minDate: moment()
                })
            });
        </script>

    </div>

    @*Column 2*@
    <div class="col-lg-6">
        <form class="form-horizontal" role="form" style="padding-top:44px;">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Voyage Information</legend>
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label">Voyage No</label>
                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               placeholder=""
                               ng-model="seafreightItem.VesselVoyageId"
                               ng-click="showModal('#vessel-voyage-modal')">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Vessel Name</label>
                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               placeholder=""
                               ng-model="seafreightItem.VesselName"
                               ng-disabled="true">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Shipping Line</label>
                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               placeholder=""
                               ng-model="seafreightItem.ShippingLine"
                               ng-disabled="true">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Departure Date</label>
                    <div class="col-md-4">
                        <div class='input-group date'>
                            <input type='text'
                                   id='voyage_deptDate'
                                   class="form-control"
                                   ng-model="seafreightItem.VesselVoyage.DepartureDate"
                                   ng-disabled="true" />
                            <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                <span class=" glyphicon glyphicon-remove-circle"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-3 control-label small">Departure Time</label>
                    <div class="col-md-4">
                        <div class='input-group date'>
                            <input type='text'
                                   id='voyage_deptTime'
                                   class="form-control"
                                   ng-model="seafreightItem.VesselVoyage.DepartureTime"
                                   ng-disabled="true" />
                            <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                <span class=" glyphicon glyphicon-remove-circle"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <!--End of Master-->
    <!--Detail-->
    <div class="col-lg-12">
        <div class="row">
            <div class="padding-right-30">
                <button class="btn btn-sm pull-right"
                        ng-click="openSeaFreightShipmentForm('Create')">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div><br />
        <div ui-grid="SeaFreightShipmentGridOptions" class="grid" ui-grid-resize-columns ui-grid-move-columns ui-grid-exporter></div><br />
        <div class="myTableContainter" ng-show="paginatedTrucks.length > 0">
            <div class="myTableContent">
                <div class="myTableRow-no-border text-right">
                    <div class="btn-group btn-group-sm">
                        <div class="myTableCell-no-padding text-right small">
                            <button class="btn btn-primary btn-sm"
                                    type="button"
                                    ng-click="processTruckPagination(truckCurrentPage = (truckCurrentPage - 1), '')"
                                    ng-disabled="!previousPageTrucks">
                                Previous
                            </button>
                        </div>
                        <div class="myTableCell-no-padding text-right small">
                            <button class="btn btn-default btn-sm"
                                    type="button"
                                    ng-disabled="true">
                                {{ truckCurrentPage }}
                            </button>
                        </div>
                        <div class="myTableCell-no-padding text-right small">
                            <button class="btn btn-primary btn-sm"
                                    type="button"
                                    ng-click="processTruckPagination(truckCurrentPage = (truckCurrentPage + 1), '')"
                                    ng-disabled="!nextPageTrucks">
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--End of Detail-->

}
<!-- List -->
@section tab2Content{
    <div ui-grid="seafreightGridOptions" class="grid" ui-grid-resize-columns ui-grid-move-columns ui-grid-exporter></div><br />
}

<!-- Origin Business Unit List Modal -->
<div id="origin-business-unit-list-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Business Unit List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body">
            <div class="row">
                <div class="myTableContainter ">
                    <table class="myTableContent table-bordered">
                        <thead>
                            <tr class="myTableRow-header text-dark small">
                                <th class="myTableCell cell-seqno small">No</th>
                                <th class="myTableCell cell-10 small text-center">Code</th>
                                <th class="myTableCell cell-10 small text-center">Name</th>
                                <th class="myTableCell cell-10 small text-center">Operating Site?</th>
                                <th class="myTableCell cell-10 small text-center">Has Airport?</th>
                                <th class="myTableCell cell-10 small text-center">Has Seaport?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="myTableRow"
                                ng-repeat="bu in businessUnitList"
                                ng-click="closeOriginBusinessUnitList(bu)">
                                <td class="myTableCell cell-seqno small">{{$index + 1}}</td>
                                <td class="myTableCell cell-10 small">{{bu.Code}}</td>
                                <td class="myTableCell cell-10 small">{{bu.Name}}</td>
                                <td class="myTableCell cell-10 small">{{(bu.isOperatingSite == true ? 'Yes' : 'No')}}</td>
                                <td class="myTableCell cell-10 small">{{(bu.hasAirPort == true ? 'Yes' : 'No')}}</td>
                                <td class="myTableCell cell-10 small">{{(bu.hasSeaPort == true ? 'Yes' : 'No')}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeOriginBusinessUnitList(bu)">Cancel</button>
        </div>
    </div>
</div>
<!--End of Business Unit List Modal -->
<!-- Destination Business Unit List Modal -->
<div id="destination-business-unit-list-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Business Unit List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body">
            <div class="row">
                <div class="myTableContainter ">
                    <table class="myTableContent table-bordered">
                        <thead>
                            <tr class="myTableRow-header text-dark small">
                                <th class="myTableCell cell-seqno small">No</th>
                                <th class="myTableCell cell-10 small text-center">Code</th>
                                <th class="myTableCell cell-10 small text-center">Name</th>
                                <th class="myTableCell cell-10 small text-center">Operating Site?</th>
                                <th class="myTableCell cell-10 small text-center">Has Airport?</th>
                                <th class="myTableCell cell-10 small text-center">Has Seaport?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="myTableRow"
                                ng-repeat="bu in businessUnitList"
                                ng-click="closeDestinationBusinessUnitList(bu)">
                                <td class="myTableCell cell-seqno small">{{$index + 1}}</td>
                                <td class="myTableCell cell-10 small">{{bu.Code}}</td>
                                <td class="myTableCell cell-10 small">{{bu.Name}}</td>
                                <td class="myTableCell cell-10 small">{{(bu.isOperatingSite == true ? 'Yes' : 'No')}}</td>
                                <td class="myTableCell cell-10 small">{{(bu.hasAirPort == true ? 'Yes' : 'No')}}</td>
                                <td class="myTableCell cell-10 small">{{(bu.hasSeaPort == true ? 'Yes' : 'No')}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeDestinationBusinessUnitList(bu)">Cancel</button>
        </div>
    </div>
</div>
<!--End of Business Unit List Modal -->
<!-- Vessel Voyage List Modal -->
<div id="vessel-voyage-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Vessel Voyage List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body">
            <div class="row">
                <div class="myTableContainter ">
                    <table class="myTableContent table-bordered">
                        <thead>
                            <tr class="myTableRow-header text-dark small">
                                <th class="myTableCell cell-seqno small">No</th>
                                <th class="myTableCell cell-10 small text-center">Voyage No.</th>
                                @*<th class="myTableCell cell-10 small text-center">Vessel Name</th>
    <th class="myTableCell cell-10 small text-center">Origin</th>
    <th class="myTableCell cell-10 small text-center">Destination</th>*@
                                <th class="myTableCell cell-10 small text-center">Departure Date</th>
                                <th class="myTableCell cell-10 small text-center">Departure Time</th>
                                <th class="myTableCell cell-10 small text-center">Arrival Date</th>
                                <th class="myTableCell cell-10 small text-center">Arrival Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="myTableRow"
                                ng-repeat="vv in VesselVoyageList"
                                ng-click="closeVesselVoyageList(vv)">
                                <td class="myTableCell cell-seqno small">{{$index + 1}}</td>
                                <td class="myTableCell cell-10 small">{{vv.Id}}</td>
                                @*<td class="myTableCell cell-10 small">{{vv.Name}}</td>
    <td class="myTableCell cell-10 small">{{(vv.BusinessUnitNameOrigin)}}</td>
    <td class="myTableCell cell-10 small">{{(vv.BusinessUnitNameDestination)}}</td>*@
                                <td class="myTableCell cell-10 small">{{(vv.DepartureDate)}}</td>
                                <td class="myTableCell cell-10 small">{{(vv.DepartureTime)}}</td>
                                <td class="myTableCell cell-10 small">{{(vv.ArrivalDate)}}</td>
                                <td class="myTableCell cell-10 small">{{(vv.ArrivalTime)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeOriginBusinessUnitList(bu)">Cancel</button>
        </div>
    </div>
</div>
<!--End of Vessel Voyage List Modal -->
