@{
    Layout = "~/Views/Shared/_DataTableLayout1.cshtml";
}
<!-- Truck Type List/DataTable -->
@section tableContent{
    <table class="table table-hover">
        <thead class="text-dark">
            <tr>
                <th class="col-md-4 small"><strong>Type</strong></th>
                <th class="col-md-4 small"><strong>Weight Capacity</strong></th>
                <th class="col-md-4 small"><strong>Volume Capacity</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tt in data" ng-click="setSelected($index)"
                ng-dblclick="actionForm('Update')" context-menu="setSelected($index)" data-target="DataTableMenu">
                <td class="small">{{tt.Type}}</td>
                <td class="small">{{tt.WeightCapacity}}</td>
                <td class="small">{{tt.VolumeCapacity}}</td>
            </tr>
        </tbody>
    </table>
}

@section formContent{
    <form class="form-horizontal" role="form">
        <div class="form-group form-group-sm">
            <label for="name" class="col-md-3 control-label small">Type</label>
            <div class="col-md-8">
                <input type="text" id="name" class="form-control small" placeholder=""
                       ng-model="dataItem.Type" ng-disabled="viewOnly">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="name" class="col-md-3 control-label small">Capacity In</label>
        </div>
        <div class="form-group form-group-sm">
            <label for="name" class="col-md-3 control-label small">Weight</label>
            <div class="col-md-4">
                <input type="text" id="name" class="form-control small" placeholder=""
                       ng-model="dataItem.WeightCapacity" ng-disabled="viewOnly">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="name" class="col-md-3 control-label small">Volume</label>
            <div class="col-md-4">
                <input type="text" id="name" class="form-control small" placeholder=""
                       ng-model="dataItem.VolumeCapacity" ng-disabled="viewOnly">
            </div>
        </div>
    </form>
}