@{
    Layout = "~/Views/Shared/_TransactionLayout.cshtml";
}

<!-- General -->
@section tab1Content{
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Dispatching Information</legend>
    @*Column 1*@
    <div class="col-lg-6">
        <form class="form-horizontal" role="form">
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Dispatch No</label>
                <div class="col-md-4">
                    <input type="text"
                           class="form-control"
                           placeholder="System Generated"
                           ng-model="truckingItem.Id"
                           ng-disabled="true" />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Dispatch Date</label>
                <div class="col-md-4">
                    <div class='input-group date'>
                        <input type='text'
                               id='dtPicker'
                               class="form-control"
                               ng-model="truckingItem.DispatchDate"
                               ng-disabled="viewonly" />
                        <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                            <span class=" glyphicon glyphicon-remove-circle"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Dispatch Time</label>
                <div class="col-md-4">
                    <div class='input-group date'>
                        <input type='text'
                               id="tmPicker"
                               class="form-control"
                               ng-model="truckingItem.DispatchTime"
                               ng-disabled="viewonly" />
                        <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                            <span class=" glyphicon glyphicon-remove-circle"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Truck Plate No</label>
                <div class="col-md-4">
                    <input type="hidden"
                           class="form-control"
                           placeholder=""
                           ng-model="truckingItem.TruckId" />
                    <input type="text"
                           class="form-control"
                           placeholder=""
                           ng-model="truckingItem.Trucks.PlateNo"
                           ng-click="showModal('#truck-list-modal')" />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Trucker Name</label>
                <div class="col-md-8">
                    <input type="hidden"
                           class="form-control"
                           placeholder=""
                           ng-model="truckingItem.TruckerId" />
                    <input type="text"
                           class="form-control"
                           placeholder=""
                           ng-model="truckingItem.Trucker.Name">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Driver Name</label>
                <div class="col-md-8">
                    <input type="hidden"
                           class="form-control"
                           placeholder=""
                           ng-model="truckingItem.DriverId" />
                    <input type="text"
                           class="form-control"
                           placeholder=""
                           ng-model="truckingItem.Drivers.Name"
                           ng-click="showModal('#driver-list-modal')" />
                </div>
            </div>
        </form>

    </div>
    @*Column 2*@
    <div class="col-lg-6">
        <form class="form-horizontal" role="form" style="padding-top:44px;">
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Origin</label>
                <div class="col-md-8">
                    <input type="hidden"
                           class="form-control"
                           placeholder=""
                           ng-model="truckingItem.OriginServiceableAreaId" />
                    <input type="text"
                           class="form-control"
                           placeholder=""
                           ng-model="truckingItem.OriginServiceableAreaName"
                           ng-click="showModal('#originBusinnessUnit-list-modal')" />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Destination</label>
                <div class="col-md-8">
                    <input type="hidden"
                           class="form-control"
                           placeholder=""
                           ng-model="DestinationServiceableAreaId">
                    <input type="text"
                           class="form-control"
                           placeholder=""
                           ng-model="truckingItem.DestinationServiceableAreaName"
                           ng-click="showModal('#destinationBusinnessUnit-list-modal')" />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Truck Call Date</label>
                <div class="col-md-4">
                    <div class='input-group date'>
                        <input type='text'
                               id='dtPickerCallDt'
                               class="form-control"
                               ng-model="truckingItem.TruckCallDate"
                               ng-disabled="viewonly" />
                        <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                            <span class=" glyphicon glyphicon-remove-circle"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Truck Call Time</label>
                <div class="col-md-4">
                    <div class='input-group date'>
                        <input type='text'
                               id="tmPickerCallTm"
                               class="form-control"
                               ng-model="truckingItem.TruckCallTime"
                               ng-disabled="viewonly" />
                        <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                            <span class=" glyphicon glyphicon-remove-circle"></span>
                        </span>
                    </div>
                </div>
            </div>
            @*TruckingType*@
            <div class="form-group form-group-sm">
                <label class="col-md-3 control-label small">Type</label>
                <div class="col-md-4">
                    <select class="form-control"
                            ng-model="trkgdlvryList.TruckingTypeId"
                            ng-disabled="viewOnly"
                            ng-options="item.Id as item.Name for item in truckingTypeList"></select>
                </div>
            </div>
        </form>


        <script type="text/javascript">
            $(function () {
                $('#dtPicker').datetimepicker({
                    format: 'MM-DD-YYYY',
                    sideBySide: false,
                    pickTime: false,
                })
                $('#dtPickerCallDt').datetimepicker({
                    format: 'MM-DD-YYYY',
                    sideBySide: false,
                    pickTime: false,
                })
                $('#tmPickerCompletedDt').datetimepicker({
                    format: 'MM-DD-YYYY',
                    sideBySide: false,
                    pickTime: false,
                })
                $('#tmPicker').datetimepicker({
                    format: 'HH:mm',
                    sideBySide: false,
                    pickDate: false
                })
                $('#tmPickerCallTm').datetimepicker({
                    format: 'HH:mm',
                    sideBySide: false,
                    pickDate: false
                })
                $('#tmPickerCompletedTm').datetimepicker({
                    format: 'HH:mm',
                    sideBySide: false,
                    pickDate: false
                })
            });
        </script>
    </div>
</fieldset>
@*Detail*@   
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Dispatching Details</legend>
    <div id="trckngDlvry" ng-repeat="trkgdlvryList in trkgDeliveryList">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Detail No {{$index+1}}</legend>
            <div class="col-md-12">
                <span title="Remove" style="color:#4a89dc;position:absolute;right:0px;">
                    <span class=" glyphicon glyphicon-remove-circle" ng-click="removeBooking($index)"></span>
                </span>
            </div><br/>
                <!-------form------->
                @*row1*@
                <div class="row">
                    <form class="form-horizontal" role="form">
                        @*col1*@
                        <div class="col-lg-6">
                            @*Shipment No*@
                            <div class="form-group form-group-sm">
                                <label class="col-md-3 control-label small">Shipment No</label>
                                <div class="col-md-8">
                                    <input type="text"
                                           class="form-control"
                                           placeholder=""
                                           ng-model="trkgdlvryList.ShipmentId"
                                           ng-disabled="viewOnly"
                                           ng-click="showModalShipment($index)">
                                </div>
                            </div>
                            @*Customer Code*@
                            <div class="form-group form-group-sm">
                                <label class="col-md-3 control-label small">Shipper Code</label>
                                <div class="col-md-8">
                                    <input type="text"
                                           class="form-control"
                                           placeholder=""
                                           ng-model="trkgdlvryList.Customer.Code"
                                           ng-disabled="true"
                                           ng-click="showModal('#customer-list-modal', 'customer')">
                                </div>
                            </div>
                            @*Customer Name*@
                            <div class="form-group form-group-sm">
                                <label class="col-md-3 control-label small">Shipper Name</label>
                                <div class="col-md-8">
                                    <input type="text"
                                           class="form-control"
                                           placeholder=""
                                           ng-model="trkgdlvryList.Customer.Name"
                                           ng-disabled="true">
                                </div>
                            </div>

                            @*Consginee*@
                            <div class="form-group form-group-sm">
                                <label class="col-md-3 control-label small">Consignee Name</label>
                                <div class="col-md-8">
                                    <input id="consigneename"
                                           type="text"
                                           class="form-control"
                                           placeholder=""
                                           ng-model="trkgdlvryList.DeliverTo"
                                           ng-disabled="true">
                                </div>
                            </div>
                            @*Consignee Contact No*@
                            <div class="form-group form-group-sm">
                                <label class="col-md-3 control-label small">Consignee Contact No</label>
                                <div class="col-md-8">
                                    <input id="consigneecontactno"
                                           type="text"
                                           class="form-control"
                                           placeholder=""
                                           ng-model="trkgdlvryList.Shipment.DeliverToContactNo"
                                           ng-disabled="true">
                                </div>
                            </div>
                            @*Consignee Address*@
                            <div class="form-group form-group-sm">
                                <label class="col-md-3 control-label small">Consignee Address</label>
                                <div class="col-md-8">
                                    <textarea rows="3" style="height:auto;"
                                              class="form-control"
                                              placeholder=""
                                              ng-model="trkgdlvryList.DeliveryAddress"
                                              ng-disabled="true"></textarea>
                                </div>
                            </div>

                        </div>
                        @*col2*@
                        <div class="col-lg-6">
                            @*Cargo Description*@
                            <div class="form-group form-group-sm">
                                <label class="col-md-3 control-label small">Cargo Description</label>
                                <div class="col-md-8">
                                    <textarea rows="3" style="height:auto;"
                                              class="form-control"
                                              placeholder=""
                                              ng-model="trkgdlvryList.Description"
                                              ng-disabled="true"></textarea>
                                </div>
                            </div>
                            @*Quantity*@
                            <div class="form-group form-group-sm">
                                <label class="col-md-3 control-label small">Quantity</label>
                                <div class="col-md-8">
                                    <input id="quantity"
                                           type="text"
                                           class="form-control"
                                           ng-model="trkgdlvryList.Quantity"
                                           ng-disabled="viewOnly">
                                </div>
                            </div>
                            @*Total CBM*@
                            <div class="form-group form-group-sm">
                                <label class="col-md-3 control-label small">Total CBM</label>
                                <div class="col-md-8">
                                    <input id="cbm"
                                           type="text"
                                           class="form-control"
                                           ng-model="trkgdlvryList.CBM"
                                           ng-disabled="viewOnly">
                                </div>
                            </div>
                            @*Delivery Date*@
                            <div class="form-group form-group-sm">
                                <label class="col-md-3 control-label small">Delivery Date</label>
                                <div class="col-md-4">
                                    <div class='input-group date'>
                                        <input type='text'
                                               id='deliverydate'
                                               class="form-control"
                                               ng-model="trkgdlvryList.DeliveryDate"
                                               ng-disabled="viewOnly" />
                                        <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                            <span class=" glyphicon glyphicon-remove-circle"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            @*Delivery Time*@
                            <div class="form-group form-group-sm">
                                <label class="col-md-3 control-label small">Delivery Time</label>
                                <div class="col-md-4">
                                    <div class='input-group date'>
                                        <input type='text'
                                               id='deliverytime'
                                               class="form-control"
                                               ng-model="trkgdlvryList.DeliveryTime"
                                               ng-disabled="viewOnly" />
                                        <span class="input-group-addon" title="Close" style="padding:2px 0 2px 10px;">
                                            <span class=" glyphicon glyphicon-remove-circle"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            @*Cost Allocation*@
                            <div class="form-group form-group-sm">
                                <label class="col-md-3 control-label small">Cost Allocation</label>
                                <div class="col-md-8">
                                    <input id="cbm"
                                           type="text"
                                           class="form-control"
                                           ng-model="trkgdlvryList.CostAllocation"
                                           ng-disabled="viewOnly">
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#deliverydate').datetimepicker({
                                    format: 'MM-DD-YYYY',
                                    sideBySide: false,
                                    pickTime: false,
                                    //minDate: moment()
                                })
                                $('#deliverytime').datetimepicker({
                                    format: 'HH:mm',
                                    sideBySide: false,
                                    pickDate: false
                                })
                            });
                        </script>

                    </form>
                </div>

                <!--end sa form-->
        </fieldset>
    </div>
    <div class="row text-right">
        <div class="col-md-12">
            <button class="btn btn-sm btn-primary" type="submit" ng-click="addNewBooking()">
                Add Shipment from Booking
            </button>
        </div>
    </div>
</fieldset>
}
<!-- List -->
@section tab2Content{
    <div ui-grid="gridOptTrkList" class="grid" ui-grid-resize-columns ui-grid-move-columns ui-grid-exporter></div><br />
}
<div id="truck-list-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Truck List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body">
            <div class="row">
                <div class="myTableContainter ">
                    <table class="myTableContent table-bordered">
                        <thead>
                            <tr class="myTableRow-header text-dark small">
                                <th class="myTableCell cell-seqno small">No</th>
                                <th class="myTableCell cell-seqno small">Plate No</th>
                                <th class="myTableCell cell-10 small text-center">Truck Type</th>
                                <th class="myTableCell cell-10 small text-center">Trucker Name</th>
                                <th class="myTableCell cell-10 small text-center">Weight Capacity</th>
                                <th class="myTableCell cell-10 small text-center">Volume Capacity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="myTableRow"
                                ng-repeat="truck in truckList"
                                ng-click="closeModalTruck(truck)">
                                <td class="myTableCell cell-seqno small">{{$index + 1}}</td>
                                <td class="myTableCell cell-10 small">{{truck.PlateNo}}</td>
                                <td class="myTableCell cell-10 small">{{truck.TruckType.Type}}</td>
                                <td class="myTableCell cell-10 small">{{truck.Trucker.Name}}</td>
                                <td class="myTableCell cell-10 small">{{(truck.WeightCapacity)}}</td>
                                <td class="myTableCell cell-10 small">{{(truck.VolumeCapacity)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeModalTruck(truck)">OK</button>
        </div>
    </div>
</div>

<div id="driver-list-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Driver List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body">
            <div class="row">
                <div class="myTableContainter ">
                    <table class="myTableContent table-bordered">
                        <thead>
                            <tr class="myTableRow-header text-dark small">
                                <th class="myTableCell cell-seqno small">No</th>
                                <th class="myTableCell cell-seqno small">First Name</th>
                                <th class="myTableCell cell-10 small text-center">Middle Name</th>
                                <th class="myTableCell cell-10 small text-center">Last Name</th>
                                <th class="myTableCell cell-10 small text-center">License No</th>
                                <th class="myTableCell cell-10 small text-center">License Expiry</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="myTableRow"
                                ng-repeat="driver in driverList"
                                ng-click="closeModalDriver(driver)">
                                <td class="myTableCell cell-seqno small">{{$index + 1}}</td>
                                <td class="myTableCell cell-10 small">{{driver.FirstName}}</td>
                                <td class="myTableCell cell-10 small">{{driver.MiddleName}}</td>
                                <td class="myTableCell cell-10 small">{{driver.LastName}}</td>
                                <td class="myTableCell cell-10 small">{{(driver.LicenseNo)}}</td>
                                <td class="myTableCell cell-10 small">{{(driver.LicenseExpiry)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeModalDriver(driver)">OK</button>
        </div>
    </div>
</div>

<div id="originBusinnessUnit-list-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Business Unit List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body">
            <div class="row">
                <div class="myTableContainter ">
                    <table class="myTableContent table-bordered">
                        <thead>
                            <tr class="myTableRow-header text-dark small">
                                <th class="myTableCell cell-seqno small">No</th>
                                <th class="myTableCell cell-10 small text-center">Code</th>
                                <th class="myTableCell cell-10 small text-center">Name</th>
                                <th class="myTableCell cell-10 small text-center">Operating Site?</th>
                                <th class="myTableCell cell-10 small text-center">Has Airport?</th>
                                <th class="myTableCell cell-10 small text-center">Has Seaport?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="myTableRow"
                                ng-repeat="bu in businessUnitList"
                                ng-click="closeModalBusinessUnit(bu)">
                                <td class="myTableCell cell-seqno small">{{$index + 1}}</td>
                                <td class="myTableCell cell-10 small">{{bu.Code}}</td>
                                <td class="myTableCell cell-10 small">{{bu.Name}}</td>
                                <td class="myTableCell cell-10 small">{{(bu.isOperatingSite == true ? 'Yes' : 'No')}}</td>
                                <td class="myTableCell cell-10 small">{{(bu.hasAirPort == true ? 'Yes' : 'No')}}</td>
                                <td class="myTableCell cell-10 small">{{(bu.hasSeaPort == true ? 'Yes' : 'No')}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeModalBusinessUnit(bu)">Cancel</button>
        </div>
    </div>
</div>

<div id="destinationBusinnessUnit-list-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Business Unit List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body">
            <div class="row">
                <div class="myTableContainter ">
                    <table class="myTableContent table-bordered">
                        <thead>
                            <tr class="myTableRow-header text-dark small">
                                <th class="myTableCell cell-seqno small">No</th>
                                <th class="myTableCell cell-10 small text-center">Code</th>
                                <th class="myTableCell cell-10 small text-center">Name</th>
                                <th class="myTableCell cell-10 small text-center">Operating Site?</th>
                                <th class="myTableCell cell-10 small text-center">Has Airport?</th>
                                <th class="myTableCell cell-10 small text-center">Has Seaport?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="myTableRow"
                                ng-repeat="bu in businessUnitList"
                                ng-click="closeModalBusinessUnitDestination(bu)">
                                <td class="myTableCell cell-seqno small">{{$index + 1}}</td>
                                <td class="myTableCell cell-10 small">{{bu.Code}}</td>
                                <td class="myTableCell cell-10 small">{{bu.Name}}</td>
                                <td class="myTableCell cell-10 small">{{(bu.isOperatingSite == true ? 'Yes' : 'No')}}</td>
                                <td class="myTableCell cell-10 small">{{(bu.hasAirPort == true ? 'Yes' : 'No')}}</td>
                                <td class="myTableCell cell-10 small">{{(bu.hasSeaPort == true ? 'Yes' : 'No')}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeModalBusinessUnitDestination(bu)">Cancel</button>
        </div>
    </div>
</div>

<div id="shipment-list-modal" class="popup-basic bg-none mfp-with-anim mfp-hide" style="max-width:80%;">
    <div class="panel">
        <!--Modal Header-->
        <div class="panel-heading">
            <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>Booking List</span>
        </div>
        <!--Modal Body-->
        <div class="panel-body">
            <div class="row">
                <div class="myTableContainter ">
                    <table class="myTableContent table-bordered">
                        <thead>
                            <tr class="myTableRow-header text-dark small">
                                <th class="myTableCell cell-seqno small text-center">No</th>
                                <th class="myTableCell cell-10 small text-center">Shipment No</th>
                                <th class="myTableCell cell-10 small text-center">Customer</th>
                                <th class="myTableCell cell-10 small text-center">Pickup Date</th>
                                <th class="myTableCell cell-10 small text-center">Pickup Time</th>
                                <th class="myTableCell cell-10 small text-center">Pickup Address</th>
                                <th class="myTableCell cell-10 small text-center">Consignee</th>
                                <th class="myTableCell cell-10 small text-center">Delivery Address</th>
                                <th class="myTableCell cell-10 small text-center">Total Quantity</th>
                                <th class="myTableCell cell-10 small text-center">Total CBM</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="myTableRow"
                                ng-repeat="shipment in shipmentList"
                                ng-click="closeShipment(shipment.Id)">
                                <td class="myTableCell cell-seqno small">{{$index + 1}}</td>
                                <td class="myTableCell cell-10 small">{{shipment.Id}}</td>
                                <td class="myTableCell cell-10 small">{{(shipment.Customer.Name)}}</td>
                                <td class="myTableCell cell-10 small">{{shipment.PickupDate}}</td>
                                <td class="myTableCell cell-10 small">{{shipment.PickupTime}}</td>
                                <td class="myTableCell cell-10 small">{{(shipment.Address1)}}</td>
                                <td class="myTableCell cell-10 small">{{(shipment.DeliverTo)}}</td>
                                <td class="myTableCell cell-10 small">{{(shipment.Address)}}</td>
                                <td class="myTableCell cell-10 small">{{(shipment.Quantity)}}</td>
                                <td class="myTableCell cell-10 small">{{(shipment.TotalCBM)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer text-right">
            <button class="btn" type="submit" ng-click="closeShipment(shipment.Id)">OK</button>
        </div>
    </div>
</div>
@RenderPage("~/Views/Shared/_ContextMenuShipmentDtl.cshtml")